@model KhyberYouth.Models.BankAccountDetail

<div class="container my-5">
    <!-- This is a partial view for Donation Bank Details Section -->
  
    @await Component.InvokeAsync("BankDetails")


    <!-- Render Partial View -->
</div>
