@model KhyberYouth.Models.BankAccountDetail

<section>
    <header class="theme-color text-white text-center py-5">
        <h1 class="display-4">Make a Donation</h1>
        <p class="lead">Your support helps us make a real difference in the lives of those in need.</p>
    </header>
</section>
<div class="container my-5">
    <!-- This is a partial view for Donation Bank Details Section -->
  
    @await Component.InvokeAsync("BankDetails")


    <!-- Render Partial View -->
</div>
