@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid p-0">
    
    <div>
        @{
            ViewData["MaxItems"] = 1; // Set the number of items to display
        }
        @await Component.InvokeAsync("Banner", new { Banner = 1 })

    </div>

    <!-- Start Working Since section -->

    <div class="container mt-5 col-lg-12">
        <div>
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                    <h2 class="text-secondary mb-2 text-uppercase text-center"> Our Mission</h2>
                    <h6 class="text-center">To empower the less privileged through education, and community engagement</h6>
                    <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
                </div>
            </div>
        </div>
        
        <div>
            @{
                ViewData["MaxItems"] = 1; // Set the number of items to display
            }
            @await Component.InvokeAsync("About", new { AboutSection = 1 })

        </div>
    </div>
    <!-- END Working Since section -->

    <!-- Media, Volunteer and Donation Section Start -->
    <div class="container mt-5">
        <div>
            @{
                ViewData["MaxItems"] = 3; // Set the number of items to display
            }
            @await Component.InvokeAsync("Icons", new { MainIcons = 3 })

        </div>
    </div>
    <!-- Media, Volunteer and Donation Section Start -->


    <div>
        <!-- Blog 3 - Bootstrap Brain Component -->
        <section class="py-3 py-md-5">

            @{
                ViewData["MaxItems"] = 3; // Set the number of items to display
            }
            @await Component.InvokeAsync("Project", new { Project = 3 })
           
        </section>

        <!-- Event Section Start -->
        <section class="container-fluid">
                @await Component.InvokeAsync("Event")
        </section>
        <!-- Event Section End -->

        <!--D HELP VOLUNTEER TEAM START-->
        <section class="d-help-volunteer-team">
            @{
                ViewData["MaxItems"] = 4; // Set the number of items to display
            }
            @await Component.InvokeAsync("Team", new { TeamMember = 4 })
        </section>
        <!--D HELP VOLUNTEER TEAM END-->

        <!--Stats Section Start-->
        <section class="d-help-stats-wrap">
            <div class="container mt-5">
                <div class="row">
                    <!--Help Stats Start-->
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="d-help-stats">
                            <h4>Enrollment 2018</h4>
                            <h5><span class="counter">197</span>r.</h5>
                            <p>We Work Constantly and We Strive for</p>
                        </div>
                    </div>
                    <!--Help Stats End-->
                    <!--Help Stats Start-->
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="d-help-stats">
                            <h4>Child Abuse Cases</h4>
                            <h5><span class="counter">98352</span></h5>
                            <p>Active Volunteers Around the World</p>
                        </div>
                    </div>
                    <!--Help Stats End-->
                    <!--Help Stats Start-->
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="d-help-stats">
                            <h4>Human Rights Violations</h4>
                            <h5><span class="counter">5,91,000</span></h5>
                            <p>We Have Compiled for all people</p>
                        </div>
                    </div>
                    <!--Help Stats End-->
                </div>
            </div>
        </section>
        <!--Stats Section End-->


        <!--Blog Section start-->
        <section class="py-3 py-md-5">

            @{
                ViewData["MaxItems"] = 3; // Set the number of items to display
            }
            @await Component.InvokeAsync("Blog", new { Blogs = 3 })

        </section>
       
        <!--Brand logo slider-->
        <section>
            @await Component.InvokeAsync("Brand")
        </section>

    </div>
</div>


