@model KhyberYouth.Models.BankAccountDetail

<div class="container my-5">
    <!-- This is a partial view for Donation Bank Details Section -->
  
    @Html.Partial("_BankAccountDetail", (KhyberYouth.Models.BankAccountDetail)Model)

    <!-- Render Partial View -->
</div>
