@model KhyberYouth.ViewModel.AboutEditViewModel

@{
    ViewData["Title"] = "Edit";
    var photoPath = "~/images/" + (Model.ExistingImagePath ?? "placeholder.png");

}

<div class="container container-fluid mt-lg-5 ">
    <div class="container mt-lg-5 ">
        <div class="card shadow mb-4 theme-color col-md-10 offset-1">
            <div class="card-body text-center">
                <h4 class="text-light">About Section</h4>
                <div class="d-flex justify-content-center gap-3 mt-3">
                </div>
            </div>
        </div>

        <form class="border border-warning shadow col-md-10 offset-1" enctype="multipart/form-data" asp-controller="AboutUs" asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ExistingImagePath" />
            <div class="row m-3">
                <div class="form-group col-md-12">
                    <label asp-for="SectionTitle" class="control-label"></label>
                    <input asp-for="SectionTitle" class="form-control" />
                    <span asp-validation-for="SectionTitle" class="text-danger"></span>
                </div>
            </div>

            <div class="row m-3">
                <div class="form-group col-md-12">
                    <label asp-for="SectionContent" class="control-label"></label>
                    <textarea asp-for="SectionContent" class="form-control"></textarea>
                    <span asp-validation-for="SectionContent" class="text-danger"></span>
                </div>
            </div>

            <div class="row m-3">
                <div class="form-group col-md-12">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input asp-for="ImageFile" class="form-control custom-file-input" type="file" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
            </div>
            <div class="row m-3">
                <div class="form-group col-md-12">

                    <img asp-append-version="true" src="@photoPath" alt="Media Image" width="250" />
                </div>
            </div>
            <div class="form-group m-4">
                <input type="submit" value="Update Record" class="btn theme-btn" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
