@* Views/Event/NoUpcomingEvent.cshtml *@
<div class="container mt-lg-3">
    <div class="row">
        
        <section class="no-event col-lg-9">
            <div class="container">
                <h2>No Upcoming Events</h2>
                <p>Check back later for updates on upcoming events.</p>
            </div>
        </section>
        <div class="col-lg-3">
            <a asp-controller="Event" asp-action="Create" class="btn btn-success">Create New Event</a>

        </div>
    </div>
</div>
