@model IEnumerable<KhyberYouth.ViewModel.VolunteerViewModel>

<header class="theme-color text-white text-center py-5">
    <h3>Khyber Youth Welfare Organization</h3>
    @* <h4>Project List</h4> *@
</header>

<div class="container">
    <section class="py-2">
        @{
            ViewData["Title"] = "All Volunteers";
        }

        @await Component.InvokeAsync("AllVolunteer")


    </section>
</div>