@model IEnumerable<KhyberYouth.ViewModel.BannerDetailsViewModel>

<section>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">

            @{
                bool isFirst = true;
            }

            @foreach (var banner in Model)
            {
                <div class="carousel-item @(isFirst ? "active" : "")">
                    <img class="d-block w-100 img-fluid"
                         src="~/images/@(banner.ImagePath ?? "default-image.png")"
                         alt="Banner Image"
                         style="height:320px; object-fit:cover;">
                </div>

                isFirst = false;
            }

        </div>

        <!-- Controls -->
        <button class="carousel-control-prev" type="button"
                data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>

        <button class="carousel-control-next" type="button"
                data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</section>


@* @model IEnumerable<KhyberYouth.ViewModel.BannerDetailsViewModel>
@{
    int maxItems = (ViewData["MaxItems"] as int?) ?? Model.Count(); // Use all items if maxItems not specified
    var projectsToShow = Model.Take(maxItems); // Limit the items to the specified number
}

<section>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                @foreach (var banner in projectsToShow)
                {
                    <img class="img-fluid" src="~/images/@(banner.ImagePath ?? "default-image.png")" alt="Banner Logo" style="height:500px; width:100%">
                }
            </div>
        </div>
    </div>
</section> *@
