<header class="theme-color text-white text-center py-5 shadow-sm">
    <div class="container">
        <h3>Khyber Youth Welfare Association (KYWA)</h3>
        <h1 class="display-6 fw-bold">Our Professional Team</h1>
    </div>
</header>

<div class="container">
    <section class="py-2">
        @await Component.InvokeAsync("AllTeam", new
            {
                page = ViewData["Page"],
                pageSize = 6
            })
    </section>
</div>