<!-- Header Section -->
<section>
    <header class="bg-dark text-white text-center py-5">
        <h1 class="display-4">About Us</h1>
        <p class="lead">Learn more about the Khyber Youth Welfare Organization</p>
    </header>
</section>

<!-- Who We Are Section -->
<section>
    <div>
        @{
            ViewData["MaxItems"] = 1; // Set the number of items to display
        }
        @await Component.InvokeAsync("About", new { AboutSection = 1 })

    </div>
</section>

<!-- Media, Volunteer and Donation Section Start -->
<section>
    <div>
        @{
            ViewData["MaxItems"] = 3; // Set the number of items to display
        }
        @await Component.InvokeAsync("Icons", new { MainIcons = 3 })

    </div>
</section>



<!-- Event Section Start -->
<section class="container-fluid">
    @await Component.InvokeAsync("Event")
</section>
<!-- Event Section End -->

<!-- Team section -->
<section class="d-help-volunteer-team">
    @{
        ViewData["MaxItems"] = 4; // Set the number of items to display
    }
    @await Component.InvokeAsync("Team", new { TeamMember = 4 })
</section>

<!--Brand logo slider-->
<section>
    @await Component.InvokeAsync("Brand")
</section>