<!-- Header Section -->
<header class="theme-color text-white text-center py-5">
    <h3>Khyber Youth Welfare Organization</h3>
    <h4>See our Gallery</h4>
</header>

<section class="py-3 py-md-5">
   
    @await Component.InvokeAsync("Media")

</section>